{{/*
  Single page default template. Normal page content will appear in the
  .Content outlet below.
*/}}

{{ define "main" }}

<div class="quire-page{{ with .Params.class }} quire-page--{{ . }}{{ end }}" id="main" role="main">

  <section class="quire-page__content" id="content">
      <div class="content" id="pagepiling">
        <section class="pp-slide pp-scrollable">
          <h1>{{ .Title }}</h1>
          {{ markdownify .Page.Params.abstract }}
        </section>
        {{ .Content }}
      </div>
  </section>

</div>
{{ end }}

