.quire-page--50x50-grid .quire-page__header {
  background-position: center;
  margin-bottom: 2rem;
}

.quire-page--50x50-grid .subtitle {
  display: block;
  margin-top: .25rem;
}

/* For `type: slider` and shortcode q-slide */
.pp-slide {
  width: 100%;
  background-color: white;
  padding: 10rem 10rem 0;
}

.pp-slide figure img {
  width: 100%;
}

.pp-slide h1 {
  text-align: center;
  font-size: 6rem;
}

.pp-slide p:last-child,
.pp-slide figure:last-child {
  margin-bottom: 10rem;
}

/* special styling for full-width image slide */
.pp-slide.splash {
  padding: 0;
}

.pp-slide.splash figure {
  width: 100%;
  margin: 0 0 10rem 0;
}

.pp-slide.splash figcaption {
  margin: 1rem;
}

/* to add color to the first slide on the page */
#asawa .pp-slide:first-child {
  background-color: pink;
}
